[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pillow = "*"
drf-nested-routers = "*"
python-dotenv = "*"
django-htmx = "*"

[dev-packages]

[requires]
python_version = "3.11"
