{% extends 'core/base.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{% block content %}


    <a class="add-container" href="{% url 'add-todo' task_pk %}">
        <div style="position: relative;">
            <div>
                <img src="{% get_media_prefix %}plus.png" class="add-img">
            </div>
            
            <div class="info-add">
                Add Todo
            </div>

        
        </div>
    </a>


        



<div class="sidebar">
    <div class="sidebar-title">
        {{ username }}'s Tasks
    </div>

    <div class="sidebar-item-container">
        {% for task in tasks %}
        <a class="sidebar-item" href="{% url 'tasks-detail' username task.id %}">

            {{ task.title }}
            <div class="sidebar-arrow-container">
                <img src="{% get_media_prefix %}right-arrow.png" class="follow-arrow">
            </div>
            
        </a>
        {% endfor %}


    
    </div>

</div>
<div class="grid-container">
    {% for todo in todos %} 

    {% if todo.is_finished %}
    <div class="container" style="border-color: green;">
    {% else %}
    <div class="container">
    {% endif %}
        <div class="title">
            <div style="display: flex; align-items: center;">
                <div class="title-info">
                    Todo
                </div>
                {% if user == todo.task.created_by %}
                <div>
                    <a href="{% url 'todo-detail' user.username todo.task.id todo.id %}" class="edit-img-div">
                        <img src="{% get_media_prefix %}edit.png" class="edit-img">
                    </a>    
                </div>
                {% endif %}
            </div>
            {% if todo.is_finished %}
            <div style="display: flex; align-items: center; width: 100px; justify-content: space-between;">
                

                <div class="title-time">
                    {{ todo.time_created|date:"h:i A" }}
                </div>

                <div>
                    <img src="{% get_media_prefix %}accept.png" class="finished">
                </div>
                
        

            

            </div>
            {% else %}

            <div class="title-time">
                {{ todo.time_created|date:"h:i A" }}
            </div>


            {% endif %}
        </div>
    
        <div>
            <p class="todo-text">
                {{ todo.content }}
            </p>
        </div>


    </div>
    {% endfor %}
    

</div>
{% endblock %}