{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
<style>

    body {
        padding-left: 340px;
        padding-right: 20px;
    }

</style>
{% endblock %}
{% block content %}
{% if created_by == request.user and not task.is_finished %}
    
    <div class="add-container">
        <div style="position: relative;">
            <a href="{% url 'add-todo' task.id %}" class="add-btn">
                <img src="{% get_media_prefix %}plus.png" class="add-img">
            </a>
            
            <div class="info-add">
                Add Todo
            </div>

        
        </div>
    </div>
{% endif %}

        



<div class="sidebar">
    {% if created_by != request.user %}
    <div class="sidebar-title">
        {{ username }}'s Tasks
    </div>
    {% else %}

    <div class="sidebar-title">
        My Tasks
    </div>

    {% endif %}

    <div class="sidebar-item-container">
        {% for task in tasks %}
        <a class="sidebar-item" href="{% url 'tasks-detail' username task.id %}">

            {{ task.title }}
            <div class="sidebar-arrow-container">
                <img src="{% get_media_prefix %}right-arrow.png" class="follow-arrow">
            </div>
            
        </a>
        {% endfor %}


    
    </div>

</div>
{% if todos %}
<div class="grid-container-container" id="todo-contain">
    {% include 'core/partials/generate-todos.html' %}
</div>

{% endif %}
{% endblock %}