{% extends 'core/base.html' %}
{% load static %}
{% load todo_active_filter %}
{% block styles %}
<link rel="stylesheet" href="{% static 'core/tasks_all.css' %}">
{% endblock %}
{% block content %}
<div style="padding-bottom: 100px;">

    {% if created_by == request.user %}
    <div class="add-container">
        <div style="position: relative;">
            <a href="{% url 'add-task' %}" class="add-btn">
                <img src="{% get_media_prefix %}plus.png" class="add-img">
            </a>
            
            <div class="info-add">
                Add Task
            </div>

        
        </div>
    </div>
    {% endif %}


    <div style="display: flex; justify-content: center;">
        {% if created_by == request.user %}
        <div class="content-title">
            My Tasks
        </div>
        {% else %}
        <div class="content-title">
            {{ created_by.username }}' Tasks
        </div>
        {% endif %}
    </div>
    <div class="tasks-content" id="task-list">
        {% include 'core/partials/tasks_all_partial.html' %}
    </div>
</div>
{% endblock %}