p{
    margin: 0;
}

.grid-container {
    padding: 20px 15px;
    
}



.container {
    width: 250px;
    text-decoration: none;
    min-height: 250px;
    background-color: white;
    border-color: rgba(177, 35, 177, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    transition: background-color 0.15s;
}

.container:hover {
    background-color: rgb(230, 226, 226);
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom-width: 2px;
    border-bottom-color: rgba(122, 117, 117, 0.4);
    border-bottom-style: solid;
    padding-bottom: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
}


@media (max-width: 750px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 751px) and (max-width: 850px){
    .grid-container {
        grid-template-columns: 1fr 1fr ;
    }
}

@media (min-width: 850px) and (max-width: 999px){
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.text-container {
    color:  white;
}

.title-info {
    color: rgba(177, 35, 177, 1);
    font-weight: bold;
    font-size: 17px;

}

.title-time {
    color: rgb(127, 113, 113);
}



.todo-text {
    color: rgb(97, 12, 159);
    font-size: 20px;
    font-weight: bold;
}


.sidebar {
    background-color: rgb(97, 12, 159);
    width: 320px;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 70px;
    overflow-y:scroll;
    z-index: 90;
    padding-left: 10px;
    padding-right: 10px;

}

.sidebar-title {
    color: white;
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-top: 10px;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;

}


.sidebar-item-container {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
}

.sidebar-item {
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    padding: 13px 10px;
    font-size: 18px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    transition: background-color 0.15s;
    background-color: rgb(132, 46, 194);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
   
}

.sidebar-item:hover {
    background-color: rgb(112, 38, 165);
}




.follow-arrow {
    width: 25px;
}


.edit-img-div{
    display: flex;
    align-items: center;

    margin-left: 5px;

}

.edit-img {
    width: 20px;
}



.finished {
    width: 25px;
}


.tasks-counter-div {
    position: relative;
   
}

.tasks-counter {
    position: absolute;
    top: -10px;
    right: -24px;
    background-color: rgb(45, 118, 69);
    color: white;
    font-size: 13px;
    border-radius: 12px;
    min-height: 23px;
    min-width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

#mytasks {
    text-decoration: none;
    border: none;
    background-color: rgb(177, 35, 177);
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.15s;

}

#mytasks:hover {
    background-color: rgb(155, 30, 155);
}


.add-container {
    position: fixed;
    bottom: 20px;
    right: 40px;
    text-decoration: none;
    
}


.add-img {
    cursor: pointer;
    width: 70px;
}


.info-add{
    position: absolute;
    background-color: rgb(134, 128, 128);
    color: white;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 600;
    bottom: 20px;
    left: -85px;
    opacity: 0;
    pointer-events: none;
    cursor: none;
    transition: opacity 0.20s;
}

.add-container:hover .info-add{
    opacity: 1;
}




.delete-btn {
    background-color: white;
    color: rgb(232, 49, 49);;
    font-weight: bold;
    border-width: 3px;
    border: solid;
    border-color: rgb(232, 49, 49);;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.20s, color 0.20s;

}

.delete-btn:hover {
    color: white;
    background-color: rgb(232, 49, 49);
}


.grid-container-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.finished-todo-title-container {
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
   
}


.finished-todo-title {
     margin-bottom: 15px;
    border-bottom-width: 2px;
    border-bottom-color:rgba(177, 35, 177, 0.6);
    border-bottom-style: solid;
    padding-bottom: 5px;
}




.mark-as-done {
    position: absolute; 
    bottom: 15px; 
    right: 15px;
}



.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
  }

  @-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @-webkit-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-webkit-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-moz-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  .checkbox-wrapper-19 input[type=checkbox] {
    display: none;
  }

  .checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .checkbox-wrapper-19 .check-box::before,
  .checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
  }
  .checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
  .checkbox-wrapper-19 .check-box.checked {
    border-color: #34b93d;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
  .checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
  .checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }

